<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Curso - Elite School</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <header class="bg-dark text-white py-4">
        <div class="container">
            <h1 class="m-0">
                <a href="{% url 'index' %}" class="text-decoration-none text-white">Elite School</a>
            </h1>
        </div>
   </header>
   <main class="py-5">
        <div class="container">
            {% block content %}
            <h3>{{ aluno.primeiroNome }} {{ aluno.sobrenome }}</h3>

            <form action="{% url 'cadastrarCurso' idAluno=aluno.id %}" method="post" class="mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
            {% endblock %}
        </div>
   </main>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
